body{
  background-color: #3B9FA2;
  font-size: 16px;
  color: black;
}

div0 {
  display: grid;
  position: inherit;
  padding: 3%;
  border-style: solid;
  border-color: grey;
  margin: 0;
}

div1 {
  color: #FBA400;
}

del {
    background: #FBA400;
    color:  #FBA400;
    text-decoration:none;
    }
    del:hover {
    color: #000;
    }

img {
  border-radius: 50%;
  margin-top: auto;
}
